{% extends 'admin/change_form.html' %}

{% load i18n %}
{% load admin_urls %}
{% block submit_buttons_bottom %}


  <style type="text/css">
  	#button{
  	    width: 100px;
  	    height: 37px;
  	  
  		background-color:#d83131;
  		border-radius: 5px;
  		color: white;
  		font-weight: normal;
      margin:5px;
  	}
  	#button:hover{
  		background: darkred;

  	}
  		</style>
    <div class="submit-row" >
      <a href='{% url opts|admin_urlname:"import" %}'>
       <input  id="button" type="button" value="{% trans 'Excel' %}" name="_anotherbutton" />
    </a>
    </div>
 {{ block.super }}
 
{% endblock %} 