{% extends 'admin/change_list.html' %}

{% block object-tools %}
<style type="text/css">
  	#button{
  	  
  	    
  	
  		border-radius: 12px;
  		color: white;
      border:none;
      background-color: grey;
      opacity: .7;
  		font-weight: lighter;
      font-size: 12px;
  		height: 40px;
  		width: 160px;
      

     
  	}
  	#button:hover{
  		background: #124759;

  	}
  		

  </style>
  
      <a  href='excel'
       id="button" >ADD FROM EXCEL"
    </a>
    <br />

    {{ block.super }}
{% endblock %}